body {
    background-image: url('/public/wallpaper2.jpg'); /* Ruta a la imagen en la carpeta public */
    background-size: cover; /* Ajustar la imagen al tamaño de la ventana */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-attachment: fixed;
}
