.Pokecard {
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.55);
  opacity: 80%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out; /* Agregamos una transición suave */
}

.Pokecard:hover {
  transform: scale(1.05); /* Aumentamos el tamaño en hover */
}

.Pokecard-data {
  font-size: 80%;
}

.Pokedex-winner {
  color: #228B22;
}

.Pokedex-loser {
  color: #be0e0e;
}
